body {
  margin: 0;
}

#gray {
  color: lightgray;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 45px;
}

#logo h1 {
  display: flex;
  align-items: center;
  height: 32px;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  margin-left: 16px;
}

#banner {
  display: flex;
  background-color: lightgray;
}

#banner img {
  margin: 32px 24px;
  width: 60%;
}

#banner #RightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-size: 24px;
}

#banner #button {
  padding: 8px 0;
  color: white;
  background-color: gray;
  text-align: center;
}

#information {
  display: flex;
}

#information #LeftSide {
  width: 60%;
  margin: 32px 24px;
}

#information #LeftSide img {
  width: 100%;
}

#information #LeftSide h2 {
  font-size: 36px;
}

#information #RightSide {
  width: 40%;
  margin-left: 32px;
}

#information #RightSide .row {
  display: flex;
  border: 1px solid lightgray;
}

#information #RightSide .row h3,
#information #RightSide .row p {
  margin-bottom: 8px;
}

#information #RightSide .row img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

#information #RightSide #ThirdRow {
  display: flex;
  background-color: lightgray;
}

#information #RightSide .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 32px 24px;
}

#information #RightSide .details a {
  text-decoration: none;
}
