body {
  margin: 0;
}

#gray {
  color: lightgray;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  height: 64px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 45px;
}

#logo h1 {
  display: flex;
  align-items: center;
  height: 32px;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  margin-left: 16px;
}

#banner {
  display: flex;
  background-color: lightgray;
}

#banner img {
  margin: 32px 24px;
  width: 60%;
}

#banner #RightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-size: 24px;
}

#banner #button {
  padding: 8px 0;
  color: white;
  background-color: gray;
  text-align: center;
}

#information {

}

#information img {
  margin: 32px 24px;
  width: 60%;
}

#information h2 {
  margin-left: 24px;
  margin-bottom: 24px;
}

#information p {
  margin-left: 24px;
}
